<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>trending kospi and others</title>
    <script src="/static/assets/js/axios/axios.min.js"></script>
    <script src="/static/assets/js/charts/amcharts_4.5.16/amcharts4/core.js"></script>
    <script src="/static/assets/js/charts/amcharts_4.5.16/amcharts4/charts.js"></script>
    <script src="/static/assets/js/charts/amcharts_4.5.16/amcharts4/themes/material.js"></script>
    <script src="/static/assets/js/charts/amcharts_4.5.16/amcharts4/themes/animated.js"></script>
    <script src="/static/assets/js/charts/amcharts_4.5.16/amcharts4/lang/ko_KR.js"></script>
    <script src="/static/assets/js/date/moment.min.js"></script>
    <style>
        body {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        }

        #myChart {
            width: 100%;
            height: 500px;
        }

    </style>
</head>
<body>
<div id="myChart" class="chart--container"></div>
<div id="minmax-kospi">
    <span> 코스피 최저점 : <p id="min-kospi">-</p> </span>
    <span> 코스피 최대점 : <p id="max-kospi">-</p> </span>
</div>

</body>
<script th:inline="javascript">
    var URL_DEFAULT_CHART='/api/trending/default';
    var URL_DEFAULT_MINMAX='/api/trending/kospi/minmax';
    var COLNAME_KOSPI = 'dKospi';

    window.onload = function(){
        getDefaultChart();
        getKospiMinMax();
        // renderChart(trendingResult);
    };

    function getDefaultChart(){
        axios.get(URL_DEFAULT_CHART, {
            params:{
                startDate : null,
                endDate : null
            }
        }).then(function(res){
            var sqlChartResult = res.data.chart;
            renderChart(sqlChartResult);
        }).catch(function(error){

        }).finally(function(){

        });
    }

    function getKospiMinMax(){
        axios.get(URL_DEFAULT_MINMAX,{
            params:{
                startDate: null,
                endDate: null
            }
        }).then(function(res){
            console.log('response', res);
            var min = res.data.min[COLNAME_KOSPI];
            var max = res.data.max[COLNAME_KOSPI];

            var min_kospi = document.querySelector('#min-kospi');
            var max_kospi = document.querySelector('#max-kospi');

            min_kospi.innerHTML = min;
            max_kospi.innerHTML = max;
        })
    }

    function renderChart(sqlResult){
	    // Themes begin
	    am4core.useTheme(am4themes_animated);
	    // Themes end

	    // Create chart instance
	    var chart = am4core.create("myChart", am4charts.XYChart);

	    // Add data
	    chart.data = generateChartData();

	    // Create axes
        var dateAxis = new am4charts.DateAxis();
	    chart.xAxes.push(dateAxis);
	    dateAxis.renderer.minGridDistance = 50;

	    var valueAxisWon = new am4charts.ValueAxis();
        chart.yAxes.push(valueAxisWon);

	    valueAxisWon.title.dy = -50;
	    valueAxisWon.title.paddingRight = 0;
	    valueAxisWon.title.paddingBottom = 400;
	    valueAxisWon.renderer.opposite = false;
	    valueAxisWon.title.fontWeight = 600;
	    valueAxisWon.title.fontSize = 14;
	    valueAxisWon.tooltip.disabled = true;
	    valueAxisWon.title.text = "원";
	    valueAxisWon.title.rotation = 0;
	    valueAxisWon.title.align = "top";
	    valueAxisWon.renderer.grid.template.strokeOpacity = 0;
	    valueAxisWon.renderer.grid.template.disabled = true;

	    var valueAxisWonExchange = new am4charts.ValueAxis();
	    chart.yAxes.push(valueAxisWonExchange);

	    valueAxisWonExchange.title.dy = -50;
	    valueAxisWonExchange.title.paddingRight = 0;
	    valueAxisWonExchange.title.paddingBottom = 400;
	    valueAxisWonExchange.renderer.opposite = false;
	    valueAxisWonExchange.title.fontWeight = 600;
	    valueAxisWonExchange.title.fontSize = 14;
	    valueAxisWonExchange.tooltip.disabled = true;
	    valueAxisWonExchange.title.text = "환율 (원)";
	    valueAxisWonExchange.title.rotation = 0;
	    valueAxisWonExchange.title.align = "top";
	    valueAxisWonExchange.renderer.grid.template.strokeOpacity = 0;
	    valueAxisWonExchange.renderer.grid.template.disabled = true;

	    var valueAxisPercent = new am4charts.ValueAxis();
	    chart.yAxes.push(valueAxisPercent);

	    valueAxisPercent.title.dy = -50;
	    valueAxisPercent.title.paddingRight = 0;
	    valueAxisPercent.title.paddingBottom = 400;
	    valueAxisPercent.renderer.opposite = true;
	    valueAxisPercent.title.fontWeight = 600;
	    valueAxisPercent.title.fontSize = 14;
	    valueAxisPercent.tooltip.disabled = true;
	    valueAxisPercent.title.text = "%";
	    valueAxisPercent.title.rotation = 0;
	    valueAxisPercent.title.align = "top";
	    valueAxisPercent.renderer.grid.template.strokeOpacity = 0;
	    valueAxisPercent.renderer.grid.template.disabled = true;

	    // Create series
	    var seriesLineKospi         = createLineSeries(chart, valueAxisWon,         "kospi",                "date", "#339af0", "kospi : {valueY.value} (원)",        "KOSPI 지수");
	    var seriesLineExcangeRate   = createLineSeries(chart, valueAxisWonExchange, "exchange_rate_dollar", "date", "#d9480f", "환율 : {valueY.value} (원)",          "환율 (달러)");
	    var corporate_loan          = createLineSeries(chart, valueAxisPercent,     "corporate_loan_month", "date", "#51cf66", "대출 금리(기업) : {valueY.value} (%)", "대출 금리(기업)");
	    var household_loan_month    = createLineSeries(chart, valueAxisPercent,     "household_loan_month", "date", "#868e96", "대출 금리(가계) : {valueY.value} (%)", "대출 금리(가계)");

	    // Add cursor
	    chart.cursor = new am4charts.XYCursor();
	    chart.cursor.xAxis = dateAxis;
	    // chart.cursor.snapToSeries = seriesLineKospi;
        chart.legend = new am4charts.Legend();
        chart.legend.useDefaultMarker = true;

        // var marker = chart.legend.markers.template.children.getIndex(0);
        // marker.cornerRadius(12,12,12,12);
	    // marker.strokeWidth = 0;
	    // marker.strokeOpacity = 1;
	    // marker.zIndex = 2;
	    // // marker.width = 15;
	    // // marker.height = 15;
	    // chart.legend.paddingTop = 17;
	    // marker.stroke = am4core.color("#ccc");
	    // chart.legend.position = "bottom";
	    // chart.legend.align = "center";
	    // chart.legend.marginTop = -20;
	    // chart.legend.contentAlign = "center";
	    // chart.preloader.disabled = true;

	    function generateChartData() {
	    	var chartData = [];

	    	sqlResult.forEach(function(obj, i){
                var date = new Date(obj.time+"");

                chartData.push({
                    date: date,
                    kospi: obj.kospi ? obj.kospi : null,
	                exchange_rate_dollar: obj.exchange_rate_dollar ? obj.exchange_rate_dollar : null,
	                corporate_loan_month: obj.corporate_loan_month ? obj.corporate_loan_month : null,
	                household_loan_month: obj.household_loan_month ? obj.household_loan_month : null
                });
            });

	    	return chartData;
	    }
    }

    function createLineSeries(chart, valueAxis, valueColumn, dateColumn, color, tooltipText, legendName){
	    var seriesLine = new am4charts.LineSeries();
	    chart.series.push(seriesLine);

	    seriesLine.dataFields.valueY = valueColumn;
	    seriesLine.dataFields.dateX = dateColumn;
	    seriesLine.strokeWidth = 2;                     // 선의 굵기
	    seriesLine.minBulletDistance = 10;
	    seriesLine.stroke = am4core.color(color);       // 선의 색상
	    seriesLine.fill = am4core.color(color);         // 선의 내부
	    seriesLine.tensionX = 0.8;

	    seriesLine.tooltipText = tooltipText;
	    seriesLine.tooltip.pointerOrientation = "vertical";
	    seriesLine.tooltip.getFillFromObject = false;
	    seriesLine.tooltip.label.fill = am4core.color(color);           // 툴팁 내부 폰트 색상
	    seriesLine.tooltip.background.cornerRadius = 20;                // 툴팁 테두리 Radius
	    seriesLine.tooltip.background.fillOpacity = 0.8;                // 툴팁 투명도
	    seriesLine.tooltip.label.padding(12,12,12,12);
	    seriesLine.name = legendName;

	    seriesLine.yAxis = valueAxis;
	    // Add scrollbar
	    chart.scrollbarX = new am4charts.XYChartScrollbar();
	    chart.scrollbarX.series.push(seriesLine);
	    return seriesLine;
    }

</script>
</html>